.App {
  text-align: center;
  margin-left:auto;
  margin-right:auto
}

.account-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

.adr-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

.step-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #59bd6f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-progress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.form-box{
  border: 1px solid grey;
  padding: 2%;
  margin-right: 7%;
  border-radius: 5px;
}

.text-align-left{
  text-align: left;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-right: 25%;
  margin-left: 25%;
  display: none; /* Initially hiding the error message box */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
